@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic,700,700italic,800);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic,900);

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
  text-rendering:optimizeLegibility
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  padding-top:20px;
  background-color: #f5f5f5;
}

.footer p {
  font-size: 0.8em;
  text-align: center;
}

.navbar a {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
}

.navbar-brand {
  font-size: 22px;
}

.container {
    font: 400 16px/24px 'Raleway', serif;
    /*font: 400 16px/24px 'Merriweather', serif;*/
}

h1 {
  font: 700 28px/30px 'merriweather';
  letter-spacing: -1px;
}

h2 {
  font: 700 22px/30px 'merriweather';
  padding-bottom: 10px;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: 'merriweather';
}

#logistics dt {
  padding-bottom: 2px;
}

#logistics dd {
  padding-bottom: 10px;
}

#course-outline dt {
  padding-bottom: 10px;
}

#course-outline dd {
  padding-bottom: 15px;
  padding-left: 10px;
}

#course-outline h4 {
  padding-top: 5px;
}

#course-outline li{
  font-size:95%;
}

div ul{
  margin-bottom:30px !important;
}

ul li ul{
  margin-bottom:  0px !important;
}
